In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import matplotlib.pyplot as plt
import datetime as dt
from pathlib import Path

%matplotlib inline

In [6]:
#Read in Options Price Data for S&P500 (INX)

csv_path = Path("./Options_Resources/S&P_Options_Price_Data.csv")
INX_Options_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
INX_Options_Price_Data.sort_index(inplace=True)
INX_Options_Price_Data.columns = ["S&P Options"]
INX_Options_Price_Data.head()

            S&P Options
Date
2018-01-02        27.92
2018-01-03        28.09
2018-01-04        28.21
2018-01-05        28.41
2018-01-08        28.45

In [ ]:
#Visualize Option Prices
INX_Option_Graph = (1 + all_daily_returns).cumprod()
returns_comparison.plot(figsize=(20,10), title="Cumulative Returns All Portfolios")