In [6]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

In [11]:
#Read American Airlines price data CSV file

csv_path = Path("./Resources/AAL_Closing_Price_Data.csv")
AAL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
AAL_Closing_Price_Data.sort_index(inplace=True)
AAL_Closing_Price_Data.columns = ["AAL"]
AAL_Closing_Price_Data.head()

              AAL
Date
2018-01-02  52.99
2018-01-03  52.34
2018-01-04  52.67
2018-01-05  52.65
2018-01-08  52.13

In [12]:
#Read Marriott price data CSV file 
csv_path = Path("./Resources/DAL_Closing_Price_Data.csv")
DAL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
DAL_Closing_Price_Data.sort_index(inplace=True)
DAL_Closing_Price_Data.columns = ["DAL"]
DAL_Closing_Price_Data.head()

              DAL
Date
2018-01-02  56.74
2018-01-03  55.69
2018-01-04  55.69
2018-01-05  55.97
2018-01-08  54.68

In [14]:
#Calculate Hilton daily returns 
AAL_returns_df = AAL_Closing_Price_Data.pct_change()
AAL_returns_df.dropna(inplace=True)
AAL_returns_df.head()

                 AAL
Date
2018-01-03 -0.012266
2018-01-04  0.006305
2018-01-05 -0.000380
2018-01-08 -0.009877
2018-01-09 -0.000959

In [15]:
DAL_returns_df = DAL_Closing_Price_Data.pct_change()
DAL_returns_df.dropna(inplace=True)
DAL_returns_df.head()

                 DAL
Date
2018-01-03 -0.018505
2018-01-04  0.000000
2018-01-05  0.005028
2018-01-08 -0.023048
2018-01-09 -0.009327