In [2]:
pip install mibian

Collecting mibian
  Using cached mibian-0.1.3-py3-none-any.whl
Installing collected packages: mibian
Successfully installed mibian-0.1.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
from scipy.stats import norm
import matplotlib.pyplot as plt
import datetime as dt
from pathlib import Path
import panel as pn
pn.extension('plotly')
import plotly.express as px


%matplotlib inline

Bad key "text.kerning_factor" on line 4 in
/Users/matthewwillson/opt/anaconda3/envs/pyvizenv/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [2]:
#Read Hilton price data CSV file
csv_path = Path("./Resources/HLT_Closing_Price_Data.csv")
HLT_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
HLT_Closing_Price_Data.sort_index(inplace=True)
HLT_Closing_Price_Data.columns = ["HLT"]
HLT_Closing_Price_Data.head()

              HLT
Date
2018-01-02  79.68
2018-01-03  80.85
2018-01-04  80.25
2018-01-05  79.29
2018-01-08  80.94

In [3]:
#Read Marriott price data CSV file 
csv_path = Path("./Resources/MAR_Closing_Price_Data.csv")
MAR_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
MAR_Closing_Price_Data.sort_index(inplace=True)
MAR_Closing_Price_Data.columns = ["MAR"]
MAR_Closing_Price_Data.head()

               MAR
Date
2018-01-02  133.75
2018-01-03  136.45
2018-01-04  135.70
2018-01-05  134.40
2018-01-08  136.34

In [4]:
#Read S&P price data CSV file
csv_path = Path("./Resources/INX_Closing_Price_Data.csv")
INX_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
INX_Closing_Price_Data.sort_index(inplace=True)
INX_Closing_Price_Data.columns = ["S&P"]
INX_Closing_Price_Data.head()

                S&P
Date
2018-01-02  2695.81
2018-01-03  2713.06
2018-01-04  2723.99
2018-01-05  2743.15
2018-01-08  2747.71

In [5]:
#Read 10 year treasury bill price data CSV file 
csv_path = Path("./Resources/TNX_Closing_Price_Data.csv")
TNX_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
TNX_Closing_Price_Data.sort_index(inplace=True)
TNX_Closing_Price_Data.columns = ["TNX"]
TNX_Closing_Price_Data.head()

              TNX
Date
2018-01-02  24.65
2018-01-03  24.47
2018-01-04  24.53
2018-01-05  24.76
2018-01-08  24.80

In [6]:
#Read American Airlines price data CSV file
csv_path = Path("./Resources/AAL_Closing_Price_Data.csv")
AAL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
AAL_Closing_Price_Data.sort_index(inplace=True)
AAL_Closing_Price_Data.columns = ["AAL"]
AAL_Closing_Price_Data.head()

              AAL
Date
2018-01-02  52.99
2018-01-03  52.34
2018-01-04  52.67
2018-01-05  52.65
2018-01-08  52.13

In [7]:
#Read Delta price data CSV file 
csv_path = Path("./Resources/DAL_Closing_Price_Data.csv")
DAL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
DAL_Closing_Price_Data.sort_index(inplace=True)
DAL_Closing_Price_Data.columns = ["DAL"]
DAL_Closing_Price_Data.head()

              DAL
Date
2018-01-02  56.74
2018-01-03  55.69
2018-01-04  55.69
2018-01-05  55.97
2018-01-08  54.68

In [8]:
#Read Carnival price data  file
csv_path = Path("./Resources/CCL_Closing_Price_Data.csv")
CCL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
CCL_Closing_Price_Data.sort_index(inplace=True)
CCL_Closing_Price_Data.columns = ["CCL"]
CCL_Closing_Price_Data.head()

              CCL
Date
2018-01-02  66.75
2018-01-03  66.90
2018-01-04  66.85
2018-01-05  66.30
2018-01-08  66.05

In [9]:
#Read Royal Carribbean price data CSV file
csv_path = Path("./Resources/RCL_Closing_Price_Data.csv")
RCL_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
RCL_Closing_Price_Data.sort_index(inplace=True)
RCL_Closing_Price_Data.columns = ["RCL"]
RCL_Closing_Price_Data.head()

               RCL
Date
2018-01-02  120.38
2018-01-03  123.58
2018-01-04  122.46
2018-01-05  121.23
2018-01-08  121.09

In [10]:
#Read Dine Brands price data CSV file
csv_path = Path("./Resources/DIN_Closing_Price_Data.csv")
DIN_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
DIN_Closing_Price_Data.sort_index(inplace=True)
DIN_Closing_Price_Data.columns = ["DIN"]
DIN_Closing_Price_Data.head()

              DIN
Date
2018-01-02  51.94
2018-01-03  51.95
2018-01-04  51.71
2018-01-05  51.46
2018-01-08  50.59

In [11]:
#Read McDonald's price data CSV file 
csv_path = Path("./Resources/MCD_Closing_Price_Data.csv")
MCD_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
MCD_Closing_Price_Data.sort_index(inplace=True)
MCD_Closing_Price_Data.columns = ["MCD"]
MCD_Closing_Price_Data.head()

               MCD
Date
2018-01-02  173.22
2018-01-03  172.49
2018-01-04  173.70
2018-01-05  174.05
2018-01-08  173.93

In [12]:
#Calculate Carnival daily returns
CCL_returns_df = CCL_Closing_Price_Data.pct_change()
CCL_returns_df.dropna(inplace=True)
CCL_returns_df.head()

                 CCL
Date
2018-01-03  0.002247
2018-01-04 -0.000747
2018-01-05 -0.008227
2018-01-08 -0.003771
2018-01-09  0.023921

In [13]:
#Calculate Royal Carribbean daily returns
RCL_returns_df = RCL_Closing_Price_Data.pct_change()
RCL_returns_df.dropna(inplace=True)
RCL_returns_df.head()

                 RCL
Date
2018-01-03  0.026582
2018-01-04 -0.009063
2018-01-05 -0.010044
2018-01-08 -0.001155
2018-01-09  0.017012

In [14]:
#Calculate Hilton daily returns 
HLT_returns_df = HLT_Closing_Price_Data.pct_change()
HLT_returns_df.dropna(inplace=True)
HLT_returns_df.head()

                 HLT
Date
2018-01-03  0.014684
2018-01-04 -0.007421
2018-01-05 -0.011963
2018-01-08  0.020810
2018-01-09  0.012231

In [15]:
#Calculate Marriott daily returns
MAR_returns_df = MAR_Closing_Price_Data.pct_change()
MAR_returns_df.dropna(inplace=True)
MAR_returns_df.head()

                 MAR
Date
2018-01-03  0.020187
2018-01-04 -0.005497
2018-01-05 -0.009580
2018-01-08  0.014435
2018-01-09  0.010048

In [16]:
#Calculate S&P daily returns
INX_returns_df = INX_Closing_Price_Data.pct_change()
INX_returns_df.dropna(inplace=True)
INX_returns_df.head()

                 S&P
Date
2018-01-03  0.006399
2018-01-04  0.004029
2018-01-05  0.007034
2018-01-08  0.001662
2018-01-09  0.001303

In [17]:
#Calculate Ten Year Treasury Bill daily returns
TNX_returns_df = TNX_Closing_Price_Data.pct_change()
TNX_returns_df.dropna(inplace=True)
TNX_returns_df.head()

                 TNX
Date
2018-01-03 -0.007302
2018-01-04  0.002452
2018-01-05  0.009376
2018-01-08  0.001616
2018-01-09  0.026613

In [18]:
#Calculate American Airlines daily returns 
AAL_returns_df = AAL_Closing_Price_Data.pct_change()
AAL_returns_df.dropna(inplace=True)
AAL_returns_df.head()

                 AAL
Date
2018-01-03 -0.012266
2018-01-04  0.006305
2018-01-05 -0.000380
2018-01-08 -0.009877
2018-01-09 -0.000959

In [19]:
#Calculate Delta daily returns
DAL_returns_df = DAL_Closing_Price_Data.pct_change()
DAL_returns_df.dropna(inplace=True)
DAL_returns_df.head()

                 DAL
Date
2018-01-03 -0.018505
2018-01-04  0.000000
2018-01-05  0.005028
2018-01-08 -0.023048
2018-01-09 -0.009327

In [20]:
#Calculate Dine Brands daily returns 
DIN_returns_df = DIN_Closing_Price_Data.pct_change()
DIN_returns_df.dropna(inplace=True)
DIN_returns_df.head()

                 DIN
Date
2018-01-03  0.000193
2018-01-04 -0.004620
2018-01-05 -0.004835
2018-01-08 -0.016906
2018-01-09 -0.030638

In [21]:
#Calculate Mcdonalds daily returns
MCD_returns_df = MCD_Closing_Price_Data.pct_change()
MCD_returns_df.dropna(inplace=True)
MCD_returns_df.head()

                 MCD
Date
2018-01-03 -0.004214
2018-01-04  0.007015
2018-01-05  0.002015
2018-01-08 -0.000689
2018-01-09 -0.002242

In [22]:
# Creating a single dataframe
all_daily_returns_df = pd.concat(
    [HLT_returns_df, 
     MAR_returns_df, 
     AAL_returns_df, 
     DAL_returns_df, 
     DIN_returns_df, 
     MCD_returns_df, 
     CCL_returns_df, 
     RCL_returns_df, 
     INX_returns_df, 
     TNX_returns_df], 
    axis='columns', 
    join='inner'
)
all_daily_returns_df.dropna(inplace=True)
all_daily_returns_df.sort_index(inplace=True)
all_daily_returns_df.head()

,HLT,MAR,AAL,DAL,DIN,MCD,CCL,RCL,S&P,TNX
Date,,,,,,,,,,
2018-01-03,0.014684,0.020187,-0.012266,-0.018505,0.000193,-0.004214,0.002247,0.026582,0.006399,-0.007302
2018-01-04,-0.007421,-0.005497,0.006305,0.000000,-0.004620,0.007015,-0.000747,-0.009063,0.004029,0.002452
2018-01-05,-0.011963,-0.009580,-0.000380,0.005028,-0.004835,0.002015,-0.008227,-0.010044,0.007034,0.009376
2018-01-08,0.020810,0.014435,-0.009877,-0.023048,-0.016906,-0.000689,-0.003771,-0.001155,0.001662,0.001616
2018-01-09,0.012231,0.010048,-0.000959,-0.009327,-0.030638,-0.002242,0.023921,0.017012,0.001303,0.026613

In [23]:
#Standard Deviation for Black Scholes
cumulative_returns_df = (1 + all_daily_returns_df).cumprod()
standard_dev = cumulative_returns_df.std()
standard_dev.sort_values(inplace=True)
standard_dev

MCD    0.129286
MAR    0.146052
S&P    0.169258
DAL    0.193532
HLT    0.204344
AAL    0.228736
RCL    0.229877
CCL    0.280505
DIN    0.335852
TNX    0.347724
dtype: float64

In [26]:
#Implementing Black Scholes Time Series Analysis of Hilton

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_HLT = HLT_Closing_Price_Data["HLT"]

#Strike Price
K_HLT = 1.05*S_HLT

#Time to Expiration
T_HLT = 60/365

#Volatility or Standard Deviation
sigma_HLT = .20

def blackscholes(r, S, K, T, sigma, type="C"):
    "Calculate BS option price for a call/put"
    d1 = (np.log(S/K) + (r + sigma**2/2)*T)/(sigma*np.sqrt(T))
    d2 = d1 - sigma*np.sqrt(T)
    try:
        if type == "C":
            price = S*norm.cdf(d1, 0, 1) - K*np.exp(-r*T)*norm.cdf(d2, 0, 1)
        elif type == "P":
            price = K*np.exp(-r*T)*norm.cdf(-d2, 0, 1) - S*norm.cdf(-d1, 0, 1)
        return price
    except:
        print("Please confirm all option parameters above!")

In [27]:
HLT_call_option_df = pd.DataFrame(round(blackscholes(r, S_HLT, K_HLT, T_HLT, sigma_HLT, type="C"), 2) )
HLT_call_option_df.head()

             HLT
Date
2018-01-02  1.15
2018-01-03  1.17
2018-01-04  1.16
2018-01-05  1.14
2018-01-08  1.17

In [29]:
#Implementing Black Scholes Time Series Analysis of Marriott

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_MAR = MAR_Closing_Price_Data["MAR"]

#Strike Price
K_MAR = 1.05*S_MAR

#Time to Expiration
T_MAR = 60/365

#Volatility or Standard Deviation
sigma_MAR = .15

In [30]:
MAR_call_option_df = pd.DataFrame(round(blackscholes(r, S_MAR, K_MAR, T_MAR, sigma_MAR, type="C"), 2) )
MAR_call_option_df.head()

             MAR
Date
2018-01-02  1.05
2018-01-03  1.07
2018-01-04  1.06
2018-01-05  1.05
2018-01-08  1.07

In [31]:
#Implementing Black Scholes Time Series Analysis of American Airlines

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_AAL = AAL_Closing_Price_Data["AAL"]

#Strike Price
K_AAL = 1.05*S_AAL

#Time to Expiration
T_AAL = 60/365

#Volatility or Standard Deviation
sigma_AAL = .23

In [32]:
AAL_call_option_df = pd.DataFrame(round(blackscholes(r, S_AAL, K_AAL, T_AAL, sigma_AAL, type="C"), 2) )
AAL_call_option_df.head()

             AAL
Date
2018-01-02  0.99
2018-01-03  0.98
2018-01-04  0.99
2018-01-05  0.99
2018-01-08  0.98

In [33]:
#Implementing Black Scholes Time Series Analysis of Delta

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_DAL = DAL_Closing_Price_Data["DAL"]

#Strike Price
K_DAL = 1.05*S_DAL

#Time to Expiration
T_DAL = 60/365

#Volatility or Standard Deviation
sigma_DAL = .19

In [34]:
DAL_call_option_df = pd.DataFrame(round(blackscholes(r, S_DAL, K_DAL, T_DAL, sigma_DAL, type="C"), 2) )
DAL_call_option_df.head()

             DAL
Date
2018-01-02  0.74
2018-01-03  0.73
2018-01-04  0.73
2018-01-05  0.73
2018-01-08  0.71

In [35]:
#Implementing Black Scholes Time Series Analysis of Dine Brands

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_DIN = DIN_Closing_Price_Data["DIN"]

#Strike Price
K_DIN = 1.05*S_DIN

#Time to Expiration
T_DIN = 60/365

#Volatility or Standard Deviation
sigma_DIN = .34

In [36]:
DIN_call_option_df = pd.DataFrame(round(blackscholes(r, S_DIN, K_DIN, T_DIN, sigma_DIN, type="C"), 2) )
DIN_call_option_df.head()

             DIN
Date
2018-01-02  1.84
2018-01-03  1.84
2018-01-04  1.83
2018-01-05  1.82
2018-01-08  1.79

In [37]:
#Implementing Black Scholes Time Series Analysis of Mcdonalds

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_MCD = MCD_Closing_Price_Data["MCD"]

#Strike Price
K_MCD = 1.05*S_MCD

#Time to Expiration
T_MCD = 60/365

#Volatility or Standard Deviation
sigma_MCD = .13

In [38]:
MCD_call_option_df = pd.DataFrame(round(blackscholes(r, S_MCD, K_MCD, T_MCD, sigma_MCD, type="C"), 2) )
MCD_call_option_df.head()

             MCD
Date
2018-01-02  0.95
2018-01-03  0.94
2018-01-04  0.95
2018-01-05  0.95
2018-01-08  0.95

In [39]:
#Implementing Black Scholes Time Series Analysis of Carnival

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_CCL = CCL_Closing_Price_Data["CCL"]

#Strike Price
K_CCL = 1.05*S_CCL

#Time to Expiration
T_CCL = 60/365

#Volatility or Standard Deviation
sigma_CCL = .28

In [40]:
CCL_call_option_df = pd.DataFrame(round(blackscholes(r, S_CCL, K_CCL, T_CCL, sigma_CCL, type="C"), 2) )
CCL_call_option_df.head()

             CCL
Date
2018-01-02  1.75
2018-01-03  1.75
2018-01-04  1.75
2018-01-05  1.73
2018-01-08  1.73

In [41]:
#Implementing Black Scholes Time Series Analysis of Royal Carribbean

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_RCL = RCL_Closing_Price_Data["RCL"]

#Strike Price
K_RCL = 1.05*S_RCL

#Time to Expiration
T_RCL = 60/365

#Volatility or Standard Deviation
sigma_RCL = .23

In [42]:
RCL_call_option_df = pd.DataFrame(round(blackscholes(r, S_RCL, K_RCL, T_RCL, sigma_RCL, type="C"), 2) )
RCL_call_option_df.head()

             RCL
Date
2018-01-02  2.25
2018-01-03  2.31
2018-01-04  2.29
2018-01-05  2.27
2018-01-08  2.27

In [54]:
#Implementing Black Scholes Time Series Analysis of S&P

#Define Variables

#Interest Rate
r = .01

#Underlying Stock Price
S_INX = INX_Closing_Price_Data["S&P"]

#Strike Price
K_INX = 1.05*S_INX

#Time to Expiration
T_INX = 60/365

#Volatility or Standard Deviation
sigma_INX = .17

In [55]:
#Convert function to df
INX_call_option_df = pd.DataFrame(round(blackscholes(r, S_INX, K_INX, T_INX, sigma_INX, type="C"), 2) )
INX_call_option_df.head()

              S&P
Date
2018-01-02  27.92
2018-01-03  28.09
2018-01-04  28.21
2018-01-05  28.41
2018-01-08  28.45

In [56]:
# To calculate IV
import mibian
#Use the mibian library to calculate the implied volatility.
#The syntax for the variable values is in the format as mentioned below :
#BS([UnderlyingPrice, StrikePrice, InterestRate, Daystoexpiration],callPrice=x)

#Calculate IV using the mibian library for 30 day expiry NIFTY 50 call options (Strike at 1.05X underlying value)

Oct_2019_NIFTY = mibian.BS([11359, 11950, 1, 30], callPrice=35)
Nov_2019_NIFTY = mibian.BS([11787, 12400, 1, 30], callPrice=29)
Dec_2019_NIFTY = mibian.BS([12039, 12650, 1, 30], callPrice=34)
Jan_2020_NIFTY = mibian.BS([12255, 12850, 1, 30], callPrice=8)
Feb_2020_NIFTY = mibian.BS([12056, 12650, 1, 30], callPrice=44)
Mar_2020_NIFTY = mibian.BS([11202, 11750, 1, 30], callPrice=56)
Apr_2020_NIFTY = mibian.BS([8281, 8700, 1, 30], callPrice=469)
May_2020_NIFTY = mibian.BS([9380, 9750, 1, 30], callPrice=446)
Jun_2020_NIFTY = mibian.BS([9029, 9500, 1, 30], callPrice=101)
Jul_2020_NIFTY = mibian.BS([10552, 11100, 1, 30], callPrice=65)
Aug_2020_NIFTY = mibian.BS([11073, 11600, 1, 30], callPrice=77)
Sep_2020_NIFTY = mibian.BS([11647, 12200, 1, 30], callPrice=28.35)
Oct_2020_NIFTY = mibian.BS([11559, 12050, 1, 30], callPrice=27)


#Create Implied Volatility Dict

Oct_2019_IV = Oct_2019_NIFTY.impliedVolatility
Nov_2019_IV = Nov_2019_NIFTY.impliedVolatility
Dec_2019_IV = Dec_2019_NIFTY.impliedVolatility
Jan_2020_IV = Jan_2020_NIFTY.impliedVolatility
Feb_2020_IV = Feb_2020_NIFTY.impliedVolatility
Mar_2020_IV = Mar_2020_NIFTY.impliedVolatility
Apr_2020_IV = Apr_2020_NIFTY.impliedVolatility
May_2020_IV = May_2020_NIFTY.impliedVolatility
Jun_2020_IV = Jun_2020_NIFTY.impliedVolatility
Jul_2020_IV = Jul_2020_NIFTY.impliedVolatility
Aug_2020_IV = Aug_2020_NIFTY.impliedVolatility
Sep_2020_IV = Sep_2020_NIFTY.impliedVolatility
Oct_2020_IV = Oct_2020_NIFTY.impliedVolatility

IV_Dict = {
    "October Call": Oct_2019_IV,
    "November Call": Nov_2019_IV,
    "December Call": Dec_2019_IV,
    "January Call": Jan_2020_IV, 
    "February Call": Feb_2020_IV, 
    "March Call": Mar_2020_IV, 
    "April Call": Apr_2020_IV, 
    "May Call": May_2020_IV, 
    "June Call": Jun_2020_IV,
    "July Call": Jul_2020_IV,
    "August Call": Aug_2020_IV,
    "September Call": Sep_2020_IV,
    "October Call": Oct_2020_IV}

IV_df = pd.DataFrame.from_dict(IV_Dict, orient='index', columns=['NIFTY 30 Day Call Option'])
IV_df

                NIFTY 30 Day Call Option
October Call                   12.512207
November Call                  14.617920
December Call                  14.984131
January Call                   10.040283
February Call                  15.945435
March Call                     17.723083
April Call                     67.535400
May Call                       55.847168
June Call                      25.711060
July Call                      19.889832
August Call                    19.836426
September Call                 13.682365

In [57]:
#Implied Volatility Time Series 

#ax = IV_df.plot(figsize=(20,10))

#ax.set_ylabel("Implied Volatility", fontsize = 12)
#ax.set_xlabel("Option Expiry - End of Month", fontsize = 12)
#ax.set_title("Fluctuation of Implied Volatility for NIFTY 50 Call Options", fontsize = 14)