In [6]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

In [7]:
#Read Dine Brands price data CSV file

csv_path = Path("./Resources/DIN_Closing_Price_Data.csv")
DIN_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
DIN_Closing_Price_Data.sort_index(inplace=True)
DIN_Closing_Price_Data.columns = ["DIN"]
DIN_Closing_Price_Data.head()

              DIN
Date
2018-01-02  51.94
2018-01-03  51.95
2018-01-04  51.71
2018-01-05  51.46
2018-01-08  50.59

In [8]:
#Read McDonald's price data CSV file 

csv_path = Path("./Resources/MCD_Closing_Price_Data.csv")
MCD_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
MCD_Closing_Price_Data.sort_index(inplace=True)
MCD_Closing_Price_Data.columns = ["MCD"]
MCD_Closing_Price_Data.head()

               MCD
Date
2018-01-02  173.22
2018-01-03  172.49
2018-01-04  173.70
2018-01-05  174.05
2018-01-08  173.93

In [9]:
#Calculate Hilton daily returns 

DIN_returns_df = DIN_Closing_Price_Data.pct_change()
DIN_returns_df.dropna(inplace=True)
DIN_returns_df.head()

                 DIN
Date
2018-01-03  0.000193
2018-01-04 -0.004620
2018-01-05 -0.004835
2018-01-08 -0.016906
2018-01-09 -0.030638

In [10]:
DIN_returns_df = DIN_Closing_Price_Data.pct_change()
DIN_returns_df.dropna(inplace=True)
DIN_returns_df.head()

                 DIN
Date
2018-01-03  0.000193
2018-01-04 -0.004620
2018-01-05 -0.004835
2018-01-08 -0.016906
2018-01-09 -0.030638