In [3]:
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

In [5]:
#Read Hilton price data CSV file

csv_path = Path("./Resources/HLT_Closing_Price_Data.csv")
HLT_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
HLT_Closing_Price_Data.sort_index(inplace=True)
HLT_Closing_Price_Data.columns = ["HLT"]
HLT_Closing_Price_Data.head()

              HLT
Date
2018-01-02  79.68
2018-01-03  80.85
2018-01-04  80.25
2018-01-05  79.29
2018-01-08  80.94

In [6]:
#Read Marriott price data CSV file 

csv_path = Path("./Resources/MAR_Closing_Price_Data.csv")
MAR_Closing_Price_Data = pd.read_csv(csv_path, index_col="Date", infer_datetime_format=True, parse_dates=True)
MAR_Closing_Price_Data.sort_index(inplace=True)
MAR_Closing_Price_Data.columns = ["MAR"]
MAR_Closing_Price_Data.head()

               MAR
Date
2018-01-02  133.75
2018-01-03  136.45
2018-01-04  135.70
2018-01-05  134.40
2018-01-08  136.34

In [7]:
#Calculate Hilton daily returns 

HLT_returns = HLT_Closing_Price_Data.pct_change()
HLT_returns.dropna(inplace=True)
HLT_returns.head()

                 HLT
Date
2018-01-03  0.014684
2018-01-04 -0.007421
2018-01-05 -0.011963
2018-01-08  0.020810
2018-01-09  0.012231

In [8]:
MAR_returns = MAR_Closing_Price_Data.pct_change()
MAR_returns.dropna(inplace=True)
MAR_returns.head()

                 MAR
Date
2018-01-03  0.020187
2018-01-04 -0.005497
2018-01-05 -0.009580
2018-01-08  0.014435
2018-01-09  0.010048